.card {
  border: 3px groove $ocean-turquoise;
  border-radius: 5%;
  overflow: hidden;
  img {
    height: 15rem;
    width: 100%;
  }
  .rating {
    align-items: center;
    p {
      padding-left: 0.5rem;
    }
  }
}