.genre-list {
  &__img {
    width: toRem(32px);
    height: toRem(32px);
    border-radius: 5px;
  }
  &__name:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  @media(max-width: toRem(567px)) {
    width: toRem(125px);
  }
}