$flex-alignments: ("center", "space-between", "space-around", "space-evenly", "flex-start", "flex-end");

@each $align in $flex-alignments {
  .jc-#{$align} {
    justify-content: #{$align};
  }

  .ai-#{$align} {
    align-items: #{$align};
  }

  .ji-#{$align} {
    justify-items: #{$align};
  }

  .ac-#{$align} {
    align-content: #{$align};
  }
}