$white: #fff;
$black: #000;
$grey: #D0D0D0;
$ocean-turquoise: #45BEA9;

.light.background {
  background-color:$white;
  .text-clr {
    color:$black;
  }
}

.dark.background {
  background-color:$black;
  .text-clr {
    color:$white;
  }
}