$flex-alignments: ("center", "space-between", "space-around", "space-evenly", "flex-start", "flex-end");
$flex-wrap-values: ("nowrap", "wrap", "wrap-reverse");

@each $align in $flex-alignments {
  .jc-#{$align} {
    justify-content: #{$align};
  }

  .ai-#{$align} {
    align-items: #{$align};
  }

  .ji-#{$align} {
    justify-items: #{$align};
  }

  .ac-#{$align} {
    align-content: #{$align};
  }
}

@each $wrap in $flex-wrap-values {
    .fw-#{$wrap} {
      flex-wrap: #{$wrap};
    }
  }